%aside.Announcement
  .Announcement__box
    .Announcement__box__left
      .Announcement__box__left__sub
        スマホでかんたんフリマアプリ
      .Announcement__box__left__title
        今すぐ無料ダウンロード！
      .Announcement__box__left__image
        = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png', alt: "" , class: 'Announcement__box__left__image--mercari'
        = link_to "", class: "Announcement__box__left__image__link" do
          = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', alt: '', class: 'Announcement__box__left__image__link__sub' 
        = link_to "", class: "Announcement__box__left__image__link" do
          = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', alt: '',  class: 'Announcement__box__left__image__link__sub'
    .Announcement__box__right